Package: com.lakr233.jw.SailyStartupDaemon
Name: SailyStartupDaemon
Version: 0.1-1
Description: Saily Package Manager Startup Daemon
Section: System
Depends: firmware (>= 5.0), org.swift.libswift (>= 5.0)
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Lakr Aream
dev: https://twitter.com/Lakr233
Homepage: https://twitter.com/Lakr233
Depiction: nil
Maintainer: https://twitter.com/Lakr233
Icon: nil

